{{ $width := .Get "width" | default "100%" }}
{{ $height := .Get "height" | default "1px" }}
{{ $color := .Get "color" | default "#6b7280" }}
{{ $marginY := .Get "marginY" | default "0" }}
{{ $marginX := .Get "marginX" | default "0" }}
{{ $flex := .Get "flex" }}

{{ $flexClass := "" }}
{{ if $flex }}
  {{ if or (eq $flex "1") (eq $flex "auto") (eq $flex "initial") (eq $flex "none") }}
    {{ $flexClass = (printf " flex-%s" $flex) }}
  {{ else }}
    {{ $flexClass = (printf " flex-[%s]" $flex) }}
  {{ end }}
{{ end }}

<span class="inline-block border-b border-[{{ $color }}]{{ if ne $marginY "0" }} my-[{{ $marginY }}]{{ end }}{{ if ne $marginX "0" }} mx-[{{ $marginX }}]{{ end }} w-[{{ $width }}] h-[{{ $height }}] max-w-full{{ $flexClass }}"></span>
