{{ $count := .Get "no" | default 1 | int }}
{{ $width := .Get "width" | default "6rem" }}
{{ $color := .Get "color" | default "#6b7280" }}
{{ $flex := .Get "flex" }}

{{ $flexClass := "" }}
{{ if $flex }}
  {{ if or (eq $flex "1") (eq $flex "auto") (eq $flex "initial") (eq $flex "none") }}
    {{ $flexClass = (printf " flex-%s" $flex) }}
  {{ else }}
    {{ $flexClass = (printf " flex-[%s]" $flex) }}
  {{ end }}
{{ end }}

<span class="contents">
{{ range seq $count }}
<span class="inline-block border-b border-[{{ $color }}] select-none w-[{{ $width }}]{{ if gt $count 1 }}{{ if gt (index (seq $count) 0) . }} mt-4{{ end }}{{ end }} h-1 max-w-full{{ $flexClass }}">
</span>
{{ end }}</span>
